
    <mat-card class="card mat-elevation-z8">
        <mat-card-header>
            <mat-card-title>Gerenciador De Sistemas</mat-card-title>
            <mat-card-subtitle>Adriano Menezes</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="assets/img/LogoAdriano12.svg" alt="Adriano Menezes">
        <mat-card-content>
            <p>
                Sistema desenvolvido para o controle de necessidades de cada cliente, que coopera com o desenvolvimento de sistemas.
            </p>
        </mat-card-content>
    </mat-card>

